version: "3.8"
services:
  app:
    image: adem012/gestion-station-ski:1.0  # Your application image
    ports:
      - "8089:8089"  # Map the application port
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/stationSki
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=password
    depends_on:
      - db

  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: stationSki
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data:

